* {font-family: 'Roboto', sans-serif;}
div{
  text-align: center;
}
body {
  background-color: black;
  color:white;
}

article {
  margin: 70px auto;
  width: 500px;
}

.error {
  color: red;
  margin-bottom:0;
  height: 15px;
}

.colum{
  margin-bottom: 15px;
  text-align: center;
}

 input[type=text], input[type=password], input[type=email] {
   width: 500px;
   height: 25px;
   font-size: 12px;
   padding: 3px 15px;
 }

 input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
   border: 2px solid #99ccfc;
 }

/*Media Queries*/
/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  article {
    margin: 40px auto;
    width: 300px;
  }
  input[type=text], input[type=password], input[type=email] {
    width: 300px;;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {


}
a {

  width: 2em;
  color: red;

}
a:hover{
  background-color:blue;
}
.marco2 {
  width: 300px;
  border: 5px solid #999999;
  padding: 0px;
  position: relative;
  left: 1em;
}
table {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: right;
  width: 600px;
  margin: auto;
}

.tabla th {
  padding: 5px;
  font-size: 16px;
  background-color: blue;
  background-repeat: repeat-x;
  color: blue;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-right-color: blue;
  border-bottom-color: blue;
  font-family: Arial;
  position: fixed;
}